.NavDetail li{
    margin: 0 7px;
    font-size: 11px;
    font-weight: 600;
}
.NavDetail ul{
    border-bottom: .5px solid #999;
    border-top: .5px solid #999;
    padding: 10px 0;
}
.NavDetail li span{
    color: rgb(39, 37, 167);
    font-weight: 300;
}
.rank{
    border-radius: 0.375rem;
    font-size: 10px;
    color: white;
    padding: 3px;
}
.rank img{
    width: 28px;
    height: 28px;
    border-radius: 100%;
}
.xlm{
    font-size: 1.875rem;
    line-height: 2.25rem;   
     font-weight: 700;
}
.phantram{
    font-size: 1.5rem;
    margin-left: 5px;
    color: #4eaf0a;
}
.wid li{
    width: 100%;
    border-bottom: .1px solid rgb(211, 206, 206);
    font-weight: 600;
}
.share li{
padding: 0px 10px 7px 10px;
margin: 0 3px;
    border-radius: 5px;
    border: 1px solid #888;
}
.progress{
    width: 50%;
    height: 10px;
    background-color: #69A235;
}
.left li{
    font-size: initial;
    border: 1px solid;
    background-color: #69A235;
    padding: 2px 6px;
    margin: 0 3px;
    border-radius: 5px;
    color: aliceblue;
}
.sp-button{
    --tw-text-opacity: 1;
    color: rgba(31,41,55,var(--tw-text-opacity));
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
margin-right: 0.25rem;
font-size: .875rem;
line-height: 1.25rem;
border-radius: 0.375rem;
--tw-bg-opacity: 1;
background-color: rgba(243,244,246,var(--tw-bg-opacity));
}
.ant-list-items{
   
    display: flex;
    flex-direction: column;
}
.ant-list-item{
    width: 100% !important;
    border-bottom: .1px solid rgb(194, 189, 189) !important;
}
.itemName{
    width: 100%;
    display: flex;
    justify-content: space-between;
}